*{
  font-family: Arial,sans-serif;
  
}
h1{
  font-size:36px;
  text-align:center;
  padding:20px;
  
}
p{
  font-size:25px;
  font-family: Arial,sans-serif;
  text-align:left;
}

img{
  width:200px;
  height:200px;
}

div{
  display:inline-block;
}

footer p{
  text-align:center;
  font-size:20px;
}
