*{
  font-family: Arial,sans-serif;
  
}
h1{
  font-size:36px;
  text-align:center;
  padding:20px;
  
}
p{
  font-size:25px;
  font-family: Arial,sans-serif;
}

img{
  width:100%;
}

main{
  display:grid;
  grid-template-columns: 30% 30% 30%;
  justify-content:center;
}

div{
  display:inline-block;
}

footer p{
  text-align:center;
  font-size:20px;
}
